<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tailoris.marketing.mapper.MktGroupBuyMemberMapper">

    <update id="updateBatch">
        <foreach collection="list" item="item" separator=";">
            UPDATE tailor_is_mkt_group_buy_member
            SET status = #{item.status},
                update_time = #{item.updateTime}
            WHERE id = #{item.id}
        </foreach>
    </update>

</mapper>
